
body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* /* width: 80%; */
    height: 100%; 
    overflow: auto;
}

#map {
    height: 900px;
    /* The height is 300 pixels */
    width: 300%;
}

html {
    height: 300%;
    margin: 0;
}

.bg {
    background-image: url("./assets/center.png");
    /* height: 300%; */
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btnn {
    border: 3px solid #939723;
    border-radius: 5px;
    background-color: #30432C;
    color: white;
    text-align: center;
    width: 120px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    display: block;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
}

.btnn:hover {
    background-color: #212e1e;
}

.btnnn {
    border: 3px solid #939723;
    border-radius: 5px;
    background-color: #30432C;
    color: white;
    text-align: center;
    width: 120px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    /* display: block; */
    margin-left: 20px;
    /* transform: translateX(-50%); */
    /* margin-bottom: 30px; */
}

.btnnn:hover {
    background-color: #212e1e;
}

.btnnn2 {
    border: 3px solid #939723;
    border-radius: 5px;
    background-color: #30432C;
    color: white;
    text-align: center;
    width: 120px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    /* display: block; */
    margin-left: 50px;
    /* transform: translateX(-50%); */
    /* margin-bottom: 30px; */
}

.btnnn2:hover {
    background-color: #212e1e;
}

.last {
    margin-bottom: 0px;
}

 ::-webkit-scrollbar {
    width: 20px;
}

.inputDiv {
    padding-left: 5px;
    padding-right: 5px;
}

.latLong {
    width: 100%;
    border: 3px solid #5C7650;
    border-radius: 5px;
    text-align: center;
}

.heading {
    font-size: 20px;
    color: white;
}

.heading2 {
    font-size: 18px;
    color: white;
    padding: 0;
}

.heading {
   text-align: center;
   margin:auto;
   display: block; 
   margin-top: 8vh;
   margin-bottom: 3vh;
}


.heading-text {
    color: #6F8466;font-size:30px;word-spacing: 20px;
    letter-spacing: 3px;
}


.latlngEntryDiv {
    width: 50%; height:420px; overflow: auto; top:0; bottom: 0; left: 0; right: 0; margin: auto; text-align: center;
}


/* /// 2nd css////////// */



/* body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

/* #map {
    height: 900px;
    /* The height is 300 pixels */
    /* width: 300%; */
/* } */ 
/* 
html {
    height: 300%;
    margin: 0;
} */

/* .bg {
    background-image: url("./assets/center.png");
    /* height: 300%; */
    /* Center and scale the image nicely */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
/* } */ 

/* .btnn {
    border: 3px solid #939723;
    border-radius: 5px;
    background-color: #30432C;
    color: white;
    text-align: center;
    width: 120px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    display: block;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
} */

/* .btnn:hover {
    background-color: #212e1e;
} */

/* .btnnn {
    border: 3px solid #939723;
    border-radius: 5px;
    background-color: #30432C;
    color: white;
    text-align: center;
    width: 120px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    /* display: block; */
    /* margin-left: 20px; */
    /* transform: translateX(-50%); */
    /* margin-bottom: 30px; */
/* } */ 

/* .btnnn:hover {
    background-color: #212e1e;
} */

/* .btnnn2 {
    border: 3px solid #939723;
    border-radius: 5px;
    background-color: #30432C;
    color: white;
    text-align: center;
    width: 120px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    /* display: block; */
    /* margin-left: 50px; */
    /* transform: translateX(-50%); */
    /* margin-bottom: 30px; */
/* } */ 

/* .btnnn2:hover {
    background-color: #212e1e;
} */

/* .last {
    margin-bottom: 0px;
} */

 /* ::-webkit-scrollbar {
    width: 20px;
} */

/* .inputDiv {
    padding-left: 5px;
    padding-right: 5px;
} */

/* .latLong {
    width: 100%;
    border: 3px solid #5C7650;
    border-radius: 5px;
    text-align: center;
} */

/* .heading {
    font-size: 20px;
    color: white;
} */

/* .heading2 {
    font-size: 18px;
    color: white;
    padding: 0;
} */
